.contenedorForm {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.contLogin, .contRegistro {
    flex: 1;
    background: #f7f7f7;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.05);
}
.contLogin h1, .contRegistro h1 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.formAcceso {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formElements {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.formAcceso button{
    background-color: rgb(0, 255, 115);
    border: none;
    border-radius: 4px;
    padding: 0.3em;
    transition: all 0.2s;
}

.formAcceso button:hover{
    transform: translateY(-2px);
    background-color: rgb(0, 255, 21);
    cursor: pointer;
}

.formElements input {
    padding: 0.7rem 0.9rem;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    transition: all .2s ease-in-out;
}

.formElements input:focus {
    border-color: #5a67d8;
    box-shadow: 0 0 0 3px rgba(90,103,216,0.25);
    outline: none;
}


/* resonsive */
@media (max-width: 700px) {
    .contenedorForm {
        flex-direction: column;
        gap: 1rem;
    }
}