.fondoSesionConcreta {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  display: flex;
}

.bloqueConcretoTextoSesion {
  flex: 1.3;
  min-width: 300px;
}

.bloqueConcretoFotoSesion {
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.bloqueConcretoFotoSesion a {
  display: block;
  width: 77%;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
  background-color: rgb(0, 102, 255);
  border-radius: 5px;
  padding: 0.4em;
}

.bloqueConcretoFotoSesion img {
  width: 100%;
  max-width: 320px;
  border: solid rgb(255, 255, 255) 3px;
  border-radius: 8px;
  box-shadow: 0px 0px 9px 4px rgba(255, 255, 255, 0.7);
  margin-bottom: 0.5em;
}

.bloqueConcretoFotoSesion span {
  color: white;
}

.bloqueConcretoFotoSesion h3 {
  font-size: 130%;
  margin-top: 0.7em;
}

.trackList {
  list-style: none;
}

.bloqueDjs h3{
  color: white;
}

/* Estilos para poner video youtube */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 1em;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* movil */

@media (max-width: 768px){
  .fondoSesionConcreta{
    display: flex;
    flex-direction: column;
  }

}
